
@media (min-width: 1200px) and (max-width: 1906px) {
    .img-f {
        display: flex;
        position: absolute;
        height: 950px;
        width: 500px;
        float: right;
        margin-top: 70px;
        left: 680px;
    }
}

@media (max-width: 1199px) {
    .img-f {
        display: none;
    }
}
@media (min-width: 1907px) and (max-width: 2260px) {
    .img-f {
        display: flex;
        position: absolute;
        height: 950px;
        width: 500px;
        float: right;
        margin-top: 600px;
        margin-left: 1300px;
    }
}@media (min-width: 2261px) and (max-width: 3500px) {

    .img-f{
        display: none;
    }
}
